<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="topbar">
    <div class="title-block">
        <h1>SSH Honeypot Dashboard</h1>
        <p>Real-time attack surface monitoring</p>
    </div>

    <div class="top-actions">
        <input type="text" id="searchInput" placeholder="Search IP...">
        <button onclick="exportTable()">Export CSV</button>
    </div>
</header>

<!-- Navigation رئيسي -->
<div class="honey-bar">
  <a href="/ssh" class="honey-tab {% if active == 'ssh' %}active{% endif %}">SSH</a>
  <a href="/ftp" class="honey-tab {% if active == 'ftp' %}active{% endif %}">FTP</a>
  <a href="/http" class="honey-tab {% if active == 'http' %}active{% endif %}">HTTP</a>
  <a href="/stats" class="honey-tab {% if active == 'stats' %}active{% endif %}">STATS</a>
</div>

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
