{% extends "base.html" %}
{% block content %}

<!-- ACTION BAR -->
<div class="chart-container-wrapper">
  <div class="chart-container table-actions">
    <input
      type="text"
      id="searchInput"
      placeholder="Search IP..."
      class="table-search"
    >
    <button class="export-btn" onclick="exportTable()">
      Export CSV
    </button>
  </div>
</div>

<!-- LOGS TABLE -->
<div class="chart-container-wrapper">
  <div class="chart-container table-container">

    {% if rows %}
    <table id="honeypotTable">
      <thead>
        <tr>
          <th>IP</th>
          <th>Country</th>
          <th>Service</th>
          <th>Severity</th>
          <th>Sessions</th>
          <th>Last Seen</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        {% for r in rows %}
        <tr>
          <td class="mono">{{ r.ip }}</td>
          <td>{{ r.country }}</td>
          <td>{{ r.service }}</td>
          <td>
            <span class="sev {{ r.severity|lower }}">
              {{ r.severity }}
            </span>
          </td>
          <td>{{ r.sessions }}</td>
          <td>{{ r.last_seen }}</td>
          <td class="mono">

            {% if r.service == "HTTP" %}
              <div><b>Attack:</b> {{ r.attack }}</div>
              <div><b>User:</b> {{ r.username }}</div>
              <div><b>Pass:</b> {{ r.password }}</div>
              <div><b>Payload:</b> {{ r.payload }}</div>
            {% else %}
              {% for c in r.last_commands %}
                <div class="cmd">{{ c }}</div>
              {% endfor %}
            {% endif %}

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No data available.</p>
    {% endif %}

  </div>
</div>

<!-- SEARCH -->
<script>
document.getElementById("searchInput").addEventListener("keyup", function () {
  const filter = this.value.toLowerCase();
  const rows = document.querySelectorAll("#honeypotTable tbody tr");

  rows.forEach(row => {
    const ip = row.cells[0].innerText.toLowerCase();
    row.style.display = ip.includes(filter) ? "" : "none";
  });
});
</script>

<!-- EXPORT CSV -->
<script>
function exportTable() {
  let csv = [];
  const rows = document.querySelectorAll("#honeypotTable tr");

  rows.forEach(row => {
    let cols = row.querySelectorAll("td, th");
    let rowData = [];
    cols.forEach(col => {
      rowData.push('"' + col.innerText.replace(/"/g, '""') + '"');
    });
    csv.push(rowData.join(","));
  });

  const blob = new Blob([csv.join("\n")], { type: "text/csv" });
  const url = window.URL.createObjectURL(blob);

  const a = document.createElement("a");
  a.href = url;
  a.download = "honeypot_logs.csv";
  a.click();
}
</script>

<!-- AUTO REFRESH -->
<script>
  setTimeout(() => {
    window.location.reload();
  }, 7000);
</script>

{% endblock %}
