{% extends "base.html" %}
{% block content %}

<!-- ===== TOP CARDS ===== -->
<div class="chart-row three">

  {% for svc, s in stats.items() %}
  <div class="chart-container-wrapper">
    <div class="chart-container
      {% if svc == 'SSH' %}card-ssh{% endif %}
      {% if svc == 'FTP' %}card-ftp{% endif %}
      {% if svc == 'HTTP' %}card-http{% endif %}
    ">
      <div class="chart-info-wrapper">
        <h2>
          {% if svc == "SSH" %}
            <i class="fa-solid fa-terminal"></i>
          {% elif svc == "FTP" %}
            <i class="fa-solid fa-folder-open"></i>
          {% elif svc == "HTTP" %}
            <i class="fa-solid fa-globe"></i>
          {% endif %}
          {{ svc }}
        </h2>
        <span>{{ s.sessions }}</span>
      </div>

      <div class="chart-svg">
        <svg viewBox="0 0 36 36">
          <path class="circle-bg"
            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831"/>
          <path class="circle"
            stroke-dasharray="{{ s.commands }},100"
            d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831"/>
          <text x="18" y="20.35" class="percentage">
            {{ s.commands }}
          </text>
        </svg>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<!-- ===== BIG CHARTS ROW ===== -->
<div class="chart-row charts-wide">

  <div class="chart-container-wrapper">
    <div class="chart-container chart-xxl">
      <canvas id="sessionsChart"></canvas>
    </div>
  </div>

  <div class="chart-container-wrapper">
    <div class="chart-container chart-xxl">
      <canvas id="commandsChart"></canvas>
    </div>
  </div>

  <div class="chart-container-wrapper">
    <div class="chart-container chart-xxl">
      <canvas id="severityChart"></canvas>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const statsData = {{ stats | tojson }};
</script>

{% endblock %}
